.componente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: rgb(80, 230, 88);
  width: 180px;
  height: 300px;
  border: 1px solid rgb(47, 206, 47);
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;
  border: solid 3px;
  transition: 0.3s;
}
.componente:hover {
  background-color: rgb(88, 255, 97);
  color: black;
  border-color: rgb(0, 224, 37);
  border-style: outset;
}
.imge {
  max-width: 150px;
}

.imagen {
  position: flex;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: -30px;
}

.button {
  position: flex;
  margin-top: -185px;
  margin-left: 160px;
  display: flex;
  justify-content: center;
  background-color: rgb(55, 167, 21);
  color: white;
  width: 35px;
  height: 25px;
  border-radius: 70px;
  font-size: medium;
  font-family: Helvetica;
  cursor: pointer;
}
.button:hover {
  width: 60px;
  height: 30px;
  margin-top: -185px;
  margin-left: 140px;
  transition: 0.2s;
  justify-content: center;
}

.button:hover::before {
  content: "Cerrar";
  position: absolute;
  background-color: rgb(55, 167, 21);
  text-align: center;
  align-items: center;
  margin-top: 2px;
  transition: 0.6s;
  transition-delay: 1s;
  /* opacity: 0; */
  /* transition: opacity 0.5s ease-out 0.5s; */
}
.button:not(:hover) {
  transition: 0.2s;
}

/* .name {
  display: absolute;
  width: 100%;
  top: 50%;
} */
.atributes {
  /* padding-top: 150px; */
  font-size: x-small;
  text-align: center;
  text-decoration: none;
}

.cardName {
  background-color: rgba(255, 0, 0, 0.326);
  width: 180px;
  height: 120px;
  margin-top: 30px;
  margin-bottom: -95px;
  text-align: center;
  padding-top: 150px;
}

.link {
  text-decoration-line: none;
  color: rgb(80, 230, 88);
  background-color: red;
}
.link:hover {
  color: rgb(1, 1, 1);
}
.botFavOn {
  position: flex;
  margin-right: 120px;
  margin-top: -10px;
  background-color: transparent;
  border-color: transparent;
  font-size: large;
}
.botFavOff {
  position: flex;
  margin-right: 120px;
  margin-top: -10px;
  background-color: transparent;
  border-color: transparent;
  font-size: large;
}
