.componentes {
    margin-bottom: 20px;
    margin-top: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 150px;
    color:rgb(2, 236, 2);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    }