.componentes {
    margin-bottom: 20px;
    margin-top: -150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 150px;
    color:rgb(2, 236, 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 60px;
    align-items: center;
    }
