.searchBar {
    margin-top:330px;
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {
    font-size: larger;   
    width: 100px;
    height: 50px;
    color:green;
    /* display: flex;
    justify-content: center; */
    text-align: center;
    border-radius: 8px;
    background-color: rgb(51, 173, 51);
    border-color: rgb(2, 99, 6);
    color:white;
    transition: background-color 0.3s ease-in-out;
}
.button1:hover {
 background-color: white;
 color:rgb(6, 173, 6);
 border-color:rgb(0, 0, 0);
 transition: .5s;

}


.input1 {
    font-size: larger;   
    width: 250px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin-right: 5px;
    background-color: rgb(49, 49, 49);
    transition: background-color 0.3s ease-in-out;
}

.input1:hover {
    background-color: rgb(85, 85, 85);
}

/* .input1:not(:hover) {
    transition-duration: 0.3s;
} */