.componentes {
  /* margin-bottom: 20px; */
  /* margin-top: 20px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  color: rgb(2, 236, 2);
  align-items: center;
  padding-left: 20px;
}
