/* .App {
   display: inline;
   align-items: center;
   background-color: rgb(20, 20, 20);
   background-image: url("./assets/portada.jpg");
   background-position: center;

} */

.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(20, 20, 20);
   background-image: url("./assets/logo.png");
   background-repeat: no-repeat;
   /* background-size: 95% auto; */
   background-position: top center; 
   margin-top: 30px;
   }

