/* .App {
   display: inline;
   align-items: center;
   background-color: rgb(20, 20, 20);
   background-image: url("./assets/portada.jpg");
   background-position: center;

} */

.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(20, 20, 20);
   /* background-image: url("./assets/logo.png");
   background-repeat: no-repeat;
   background-position: center 20px ;  */
   padding-top:5px;


}