.portada {
  background-image: url("../../assets/logo.png");
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: contain;
  background-color: rgba(255, 0, 0, 0.548);
  margin-top: -50px;
  width: 240px;
  height: 150px;
}
